body {
  padding: 40px 0;
}

code {
  overflow-x: auto;
}

h4 {
  margin-top: 30px;
}

.options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.hidden {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 40px;
}

.grid--column-form {
  grid-column: span 12;
}

.grid--column-preview {
  grid-column: span 12;
}

.grid--column-preview .confidential{
  white-space: initial;
}

.gmail_signature{
  padding: 2rem;
  white-space: nowrap;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}


@media (min-width: 768px) {
  .grid--column-form {
    grid-column: span 6;
  }
  
  .grid--column-preview {
    grid-column: span 6;
  }
}

@media (min-width: 1200px) {
  .grid--column-form {
    grid-column: span 8;
  }
  
  .grid--column-preview {
    grid-column: span 4;
  }
}